extends ./layout/index

block slider
    .slider
        h1 Rio de Janeiro
        em aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre nosotros
        .row.mb-5
            .col-md-6
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non beatae dolore laudantium explicabo, est dignissimos ratione at eveniet deleniti ab nihil libero repudiandae veritatis quidem molestiae, magnam esse voluptate eum?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum laborum excepturi aut ratione? In voluptatibus est magnam deleniti, perferendis alias repellendus nisi at dolore, ab quisquam ipsum commodi labore officiis?
            .col-md-6
                img(src="/img/inicio_nosotros.jpg" alt="Imagen sobre nosotros" class="img-fluid")

        
        include ./layout/bloque_viajes

    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo 2022 - 28 de Marzo 2022
                        p.precio $2,500 USD

    .container
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales