extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa autem exercitationem repudiandae cum asperiores deleniti ad consectetur non incidunt sed dolore officiis iusto dignissimos ut assumenda soluta fuga, illo consequuntur!Ipsa aut quisquam tempore harum esse sit velit expedita corporis, sequi ea sunt ducimus explicabo, ipsum totam libero natus eveniet neque veritatis debitis similique deserunt necessitatibus, cupiditate repellat ullam. Illum.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium quos quod velit sit fugit consectetur eius voluptates quasi harum, molestias nihil deserunt, consequatur sunt! Est perferendis ratione tempora at corporis.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias harum possimus quisquam eveniet et aliquam, dolore doloribus beatae vel eos soluta eligendi fugiat quibusdam voluptatem illo velit, earum praesentium. Quo.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non nesciunt deleniti, nam assumenda, consequatur delectus veritatis ducimus eveniet, minima aut officia quidem omnis eaque ex. Id error est illo ipsa.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono seguridad")
                    h2.mb-4 Destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non nesciunt deleniti, nam assumenda, consequatur delectus veritatis ducimus eveniet, minima aut officia quidem omnis eaque ex. Id error est illo ipsa.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono seguridad")
                    h2.mb-4 Mejores Precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non nesciunt deleniti, nam assumenda, consequatur delectus veritatis ducimus eveniet, minima aut officia quidem omnis eaque ex. Id error est illo ipsa.
